{% extends 'base.html' %} 
{%block styles%}
{{ super() }}
<link rel="stylesheet" href="../static/css/index.css">
{%endblock%}

{% block content %}

<div style="background-color: rgba(231, 237, 237, 0.631);">
    <div class="container">

        <br>
        <hr>
        <br>
        
        <div class="row">
            <div class="col-md-6 text-center m-auto">
                <a href="/create-post"><button type="button" class="btn btn-success btn-lg">
                        Create a Post
                    </button></a>
            </div>
            <div class="col-md-6 border border-success rounded p-2">
                <form id="subscribeForm" class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                  <h3 class="text-center">Subscribe To Receive Alert on New Posts</h3>
                  <div class="text-center">
                    <div class="md-form form-group">
                      <input type="email" class="form-control" placeholder="Your email here..." name="subscriber" required>
                    </div>
                    <div class="md-form form-group">
                      <button class="btn btn-success" id="subs">Subscribe</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <br>
        <hr>
        <br>
        
        <div class="row">
            {% for post in posts %}
            <div class="col-md-6">
                
                <div class="card" style="border: 1px solid rgb(186, 248, 167); padding-left: 20px; padding-bottom: 15px; border-radius: 5px; background-color: rgb(255, 255, 255)">
                    
                    <div class="card-header">
                        <h2 style="color:rgb(128, 105, 55)">{{post.title}}</h2> 
                     </div>
                     <div class="card-body">
                         <div class="card-text">{{post.content}}</div>
             
                         
                             {% endfor %}
                         </div>
                     </div>
                     <div class="card-footer">

                     </div>
                </div>
                <br>
                
            </div>
            {% endfor %}
        </div>
    </div>

{% include 'footer.html' %}

{% endblock %}